body{
  font-family: robotoMono;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(0, 159, 255), rgb(236, 47, 75));
  color: white;
  text-align: center;
  overflow: hidden;
}